/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.read-the-docs {
  color: #888;
}


.navbar{
  position: fixed;
  top: 0;
  width: 50%;
  left: 25%;
  display: flex;
  justify-content: space-between;
}

.navItem{
  padding: 4px;
  margin: 4px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
}

.resources{
  display: flex;
  flex-direction: column;
}

.resource{
  margin: 4px;
  padding: 4px;
}

.resource:hover{
  cursor: pointer;
  background-color: grey;
} */